# This is the network config written by 'subiquity'
network:
  version: 2
  ethernets:
    ens18:
      dhcp4: {{ dhcp4 }}
      gateway4: {{ gateway4 }}
      addresses:
        {{ ip_addresses | to_nice_yaml | indent(8, false) }}
      nameservers:
        addresses:
          {{ ip_addresses | to_nice_yaml | indent(10, false) }}
