# This is the network config written by 'subiquity'
network:
  version: 2
  ethernets:
    ens18:
      dhcp4: false
      addresses:
        {{ ip_addresses | to_nice_yaml | indent(8, false) }}
        
      gateway4: 192.168.50.1
      nameservers:
        addresses:
          - 192.168.50.25
          - 192.168.50.1
